/* ====================== Media Queries ====================== */

@media (max-width: 650px) {
    #restaurants-list li {
      max-width: 100% !important;
    }
  }
  
  @media (min-width: 640px) and (max-width: 929px){
    #restaurants-list li {
      max-width: 43%;
    }
  }
  
  @media (min-width: 930px) {
    #restaurants-list li {
      max-width: 30%;
    }
    #restaurants-list p {
      width: 66%;
    }  
    #restaurants-list li h1 {
      height: 41px;
    }
  
    .inside header {
      position: fixed;
      top: 0;
      width: 100% !important;
      z-index: 1000;
    }
  
    .inside #map-container {
      background: cyan none repeat scroll 0 0;
      height: 88%;
      position: fixed;
      right: 0;
      top: 82px;
      width: 50%;
    }
  
    #restaurant-img {
      width: 90%;
    }
    #restaurant-container {
      width: 47%;
      padding: 139px 39px 30px;
    }
    #reviews-container {
      width: 47%;
      padding: 40px 30px;
    }
    #restaurant-cuisine {
      width: 90%;
    }
    #reviews-list li {
      width: 85%;
    }
    .inside #footer {
      bottom: 0;
      position: absolute;
      width: 47%;
    }
    #breadcrumb {
      width: calc(50% - 80px);
  }
  }